
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//******** HEADER - LEFT NAV ************
.form-group{
  width: 300px;
}
.input-group{
  width: 300px;
}
.banner-top{
  border-bottom: 1px solid grey;
}
.header{
  margin-top: 20px;

  nav{
    display: inline-block;
    margin-top: 7px;
  }
  form{
    display: inline-block;
  }
  ul{
    display: inline-block;
    text-align: right;
  }
  li{
    display: inline-block;
    padding: 10px;
    font-size: 15px;
  }
  img{
  height: 50px;
  }
  .login{
    border: 1px solid #0192B5;
    border-radius: 5px;

  }
  .login:hover{
    background-color: #9FD6F1;

  }
  ul > img{
    background-color: #888888;
  }
}
.nav-bar{
  padding-left: 0;
  padding-top: 20px;
  margin-bottom: 10px;
 a{
   padding-right: 12px;
   color: #77777B;
}
}


// ***************LEFT SIDE-BAR************
.middle-box{
  background-color: #F5F5F1;
  height: 1200px;
  overflow: auto;

}
.nav-list-head h3{
  font-size: 15px;
  color: #424242;
}
.nav-list{
  padding-top: 1px;
  padding-bottom: 15px;
  list-style: none;
  background-color: #FBFBFB;
  li{
    color: #0192B5;
    padding: 3px;
  }
  h3{
    color: #424242;
    font-size: 15px;
  }
}

// *****JQUERY BLOCK*******

.js-block{
  // background-color: lightgrey;
  height: 600px;
  float: right;
  padding: 0;
  h4{
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 27px;
    background-color: #F5F5F1;
  }
}

// ****REFINE SECTION*******
.refine-search{
  h3{
    color: #424242;
    font-size: 15px;
  }

}
.filter-search{
  background-color: #FBFBFB;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 15px;
  hr{
    background: #E1E3DF;
    height: 1px;

  }
}

.data-box{
  height: 300px;
  margin-bottom: 20px;
  img{
    width: 100%;
    height: 200px;
  }
  h6{
    white-space: nowrap;
    overflow-x: auto;
  }
  span{
    float: right;
  }
}
